load_module /usr/lib/nginx/modules/ngx_stream_module.so;
events {}

stream {
  upstream mysql_server {
    server ${ mysql_ip }:3306;
  }
  server {
    listen 33306;
    proxy_pass mysql_server;
  }
  upstream k3s_servers {
%{ for i in control ~}
    server ${ i }:6443;
%{ endfor ~}
  }
  server {
    listen 6443;
    proxy_pass k3s_servers;
  }
}
