[master]
${ master_ips[0]} new_hostname=${ master_nodes[0] }

%{ for index in master_idx ~}
${ index != "0" ? join ("", [ master_ips[index], " new_hostname=", master_nodes[index] ]) : "[slave]" }
%{ endfor ~}

[control:children]
master
slave

[control:vars]
k3s_username=k3s 
k3s_database_name=k3s 
k3s_passwd=k3spasswd
nginx_ip=${ nginx_ip }

[worker]
%{ for index in worker_idx ~}
${ worker_ips[index]} new_hostname=${ worker_nodes[index] }
%{ endfor ~}
%{ for index in storage_idx ~}
${ storage_ips[index]} new_hostname=${ storage_nodes[index] }
%{ endfor ~}

[worker:vars]
nginx_ip=${ nginx_ip }

[mysql]
${ mysql_ip } new_hostname=${ mysql_name } k3s_username=k3s k3s_database_name=k3s k3s_db_passwd=k3spasswd

[nginx]
${ nginx_ip } new_hostname=${ nginx_name }
